<div class="cardBody1">
  <a href="dashboard/edit/{{id}}">
    <div class="headerCard flex-row justify-space-between">
      <div class="col-7">Post Title: {{titlePost}}</div>
      <div class="col-3">posted by {{user.username}} on {{format_date thedate}}</div>
    </div>  
  </a>
</div>