<div class="box">
  <h2 class="headerCard">Edit Post</h2>
  <form class="cardBody1" id="edit-post-form">
      <div>
      <label class="thelabel">Title:</label>
      <input class="theinput" type="text" name="post-title" value="{{post.titlePost}}"/>
    </div>
    
    <div>
      <label class="thelabel">Content:</label>
      <textarea class="form-textarea form-input" name="post-body" data-number="8">{{post.postContent}}</textarea>
    </div>
 
    <button class="btn btn-primary" type="submit">EDIT</button>
    <input type="hidden" name="post-id" value="{{post.id}}"/>
  </form>
  <div class="cardBody1">
   <button class="btn btn-primary" type="click" id="delete-btn">DELETE</button>
  </div> 
</div>
<script src="/js/edit.js"></script>