<div class="box">

  <h2 class="headerCard">LOGIN</h2>

  <form class="cardBody1 login-form">

    <div class="allinputs">
      <label class="thelabel">Username:</label>
      <input class="theinput" type="text" id="usernameInput" />
    </div>

    <div class="allinputs">
      <label class="thelabel">Password:</label>
      <input class="theinput" type="password" id="passwordInput" />
    </div>

    <div class="allinputs">
      <button class="btn btn-primary" type="submit">LOGIN</button>
    </div>

  </form>
  <br>
  <a href="/signup">Click here to Sign Up</a>
</div>
<script src="/js/login.js"></script>