<div class="box">

  <h2 class="headerCard">SIGN UP</h2>

  <form class="cardBody1 thesignup">

    <div class="allinputs">
      <label class="thelabel">Username:</label>
      <input class="theinput" type="text" id="usernameSignup" />
    </div>

    <div class="allinputs">
      <label class="thelabel">Password:</label>
      <input class="theinput" type="password" id="passwordSignup" />
    </div>

    <div class="allinputs">
      <button class="btn btn-primary" type="submit">SIGN UP</button>
    </div>

  </form>
      <br>
    <a href="/login">Login Instead</a>

</div>
<script src="/js/signup.js"></script>